@import './_colors.scss';
body {
    background-color: $greyEE;
    margin: 0;
    padding: 0;
    color: $grey33;
}

a {
    text-decoration: none;
    color: $grey33;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas: "header" "main"; //grid-template-columns: 40px repeat(12, 1fr) 40px;
    grid-template-columns: 1% repeat(12, 1fr) 1%;
    grid-template-rows: 45px auto;
    header {
        grid-area: header;
        grid-column: span 14;
        display: block;
        background-color: $yellowML;
        .Header {
            display: grid; //grid-template-columns: 40px repeat(12, 1fr) 40px;
            grid-template-columns: 1% repeat(12, 1fr) 1%;
            grid-template-rows: 45px;
            .logo {
                display: flex;
                align-items: center;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }
    }
    Main {
        grid-area: main;
        grid-column: span 14;
        .main {
            display: grid; //grid-template-columns: 40px repeat(12, 1fr) 40px;
            grid-template-columns: 1% repeat(12, 1fr) 1%;
            grid-template-rows: auto;
            margin-bottom: 32px;
            >div {
                grid-column-start: 3;
                grid-column-end: 13;
            }
        }
        >p {
            margin-left: 150px;
            margin-top: 32px;
        }
    }
}